# Application Configuration
PORT=8080
APP_ENV=dev
APP_VERSION=1.0.2
APP_NAME=Prizm
GIN_MODE=debug
BASE_URL=https://yourdomain.com

# PostgreSQL Database Configuration
POSTGRES_VERSION=18
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=goapp
POSTGRES_USERNAME=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_SCHEMA=public

# Pagination
PAGE_SIZE=20
MAX_PAGE_SIZE=100

# mTLS Configuration (optional — defaults to Docker secrets paths)
TLS_CERT_PATH=/run/secrets/go_crt
TLS_KEY_PATH=/run/secrets/go_key
TLS_CA_PATH=/run/secrets/backend_ca
TLS_PORT=8443

# MQTT
MQTT_PORT=8883
MQTT_USER=esp32
MQTT_PASS=yourpassword
MQTT_CERT_PATH=/run/secrets/go_crt
MQTT_KEY_PATH=/run/secrets/go_key
SoilDryValue=3340
SoilWetValue=1805

# Contact
CONTACT_EMAIL=info@yourdomain.com
CONTACT_PHONE=+84 123 456 789