[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = watch
DNS.2 = app
DNS.3 = goapp
DNS.4 = localhost
IP.1  = 127.0.0.1
